

<div class="primeira"> 
  <div class="segunda">
    <div class="terceira">
      Teste
    </div>
  </div>
</div>

<div class="terceira">
  Teste
</div>

<hr>

<div class="terceira">
  Olá {{nome}}
</div>

<hr>

<div class="terceira">
  {{ pessoa.nome }}
</div>

<hr>

<div class="terceira">
  {{ getNomePessoa() }}
</div>

<hr>

<div class="terceira">
  Olá {{pessoa | json}}
</div>

<hr>

<div class="terceira">
  Imprimindo lista
  <p *ngFor="let item of lista">{{ item.titulo }}</p>
</div>

<div *ngIf="fatosDegatinhos?.fact">{{fatosDegatinhos.fact}}</div>

<router-outlet></router-outlet>
